@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap) format("woff2"),
    url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap) format("woff");
  font-weight: normal;
  font-style: normal;
}

.main,
.main input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}
.main {
  background-image: linear-gradient(to right, #ffffff, #5e8dcb);
  background-position: 0% 0%;
  animation: move-gradient 10s linear infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 150px;
}

@keyframes move-gradient {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 100% 0%;
  }
}

.main .icon {
  width: 200px;
}
.main h3 {
  font-size: 40px;
  line-height: 40px;
  font-weight: bold;
  color: #f7f4f4;
  margin: 16px 0 40px;
  font-family: "ColfaxAI";
}
.main h6 {
  font-size: 12px;
  line-height: 40px;
  font-weight: bold;
  color: #898989;
  margin: 80px 0 40px;
  font-family: "Avenir";
}
.main form {
  display: flex;
  flex-direction: column;
  width: 420px;
}
.main input[type="text"] {
  padding: 12px 6px;
  border: 5px solid #323232;
  border-radius: 15px;
  margin-bottom: 24px;
  outline-color: #f8f9f9;
  width: 420px;
}

.main ::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
.main input[type="submit"] {
  padding: 12px 0;
  color: rgb(255, 255, 255);
  background-color: #323232;
  border: none;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
}
.main .result {
  font-weight: bold;
  margin-top: 40px;
  color: #404040;
}

